.BuildControls {
    width: 100%;
    background-color: #ea4452;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
    height: 564px;
}


.OrderButton {
    background-color: #28B463;
    outline: none;
    cursor: pointer;
    border: 1px solid #52BE80;
    color: #fff;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #52BE80;
    border: 1px solid #52BE80;
    color: #fff;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}