.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #58D68D;
    border: 1px solid #58D68D;
    color: #fff;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #28B463;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {
    background-color: #58D68D;
    color: #fff;
}

.BuildControl .More {
    background-color: #28B463;
    color: #fff;
}

.BuildControl .Less:hover, .BuildControl .Less:active {
    background-color: #28B463;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #58D68D;
    color: white;
}