.gpInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.gpLabel {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.gpInputElements {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.gpInputElements:focus {
    outline: none;
    background-color: #cccccc;
}